services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: homelab_adguard
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./data/adguard/work:/opt/adguardhome/work
      - ./data/adguard/conf:/opt/adguardhome/conf

  ntopng:
    image: ntop/ntopng:latest
    container_name: homelab_ntopng
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - ./data/ntopng:/var/lib/ntopng
    command: --community --http-port 3002 --disable-login 1

  suricata:
    image: jasonish/suricata:latest
    container_name: homelab_suricata
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_NICE
    volumes:
      - ./data/suricata/logs:/var/log/suricata
      - ./data/suricata/rules:/var/lib/suricata/rules
      - ./config/suricata/suricata.yaml:/etc/suricata/suricata.yaml
    command: -i eth0

  scrypted:
    image: koush/scrypted:latest
    container_name: homelab_scrypted
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./data/scrypted:/server/volume
    environment:
      - SCRYPTED_INSECURE_PORT=11080

  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: homelab_uptime_kuma
    restart: unless-stopped
    ports:
      - "3001:3001"
    volumes:
      - ./data/uptime-kuma:/app/data
