%YAML 1.1
---

vars:
  address-groups:
    HOME_NET: "[192.168.1.0/24]"
    EXTERNAL_NET: "!$HOME_NET"
    HTTP_SERVERS: "$HOME_NET"
    DNS_SERVERS: "$HOME_NET"

  port-groups:
    HTTP_PORTS: "80"
    SHELLCODE_PORTS: "!80"
    SSH_PORTS: "22"

default-log-dir: /var/log/suricata/

outputs:
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert:
            tagged-packets: yes
        - dns
        - tls
        - http
        - stats:
            totals: yes
            threads: no
            deltas: no

  - fast:
      enabled: yes
      filename: fast.log

  - stats:
      enabled: yes
      filename: stats.log
      append: yes
      totals: yes
      threads: no

af-packet:
  - interface: eth0
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes

pcap:
  - interface: eth0

app-layer:
  protocols:
    http:
      enabled: yes
    tls:
      enabled: yes
    dns:
      enabled: yes
    ssh:
      enabled: yes

detect:
  profile: medium

default-rule-path: /var/lib/suricata/rules

rule-files:
  - suricata.rules
